/* table */

table.toc { width: 95%;
    margin: 1.5ex 0 1.5ex 5%; }

.wy-nav-content {
    max-width: 90%;
}

/* page */
.md-grid {
    max-width: 90%;
}
.md-sidebar--secondary{
    margin-left: 90%;
}

pre.colored { color: blue; }

pre {  font-family: monospace; 
    background-color: #D6E8FF;
    padding: 2ex 0 2ex 1%;
}

span.keyword {  font-family: monospace;
                    text-align: left;
                    white-space: pre;
                    color: darkblue; }



h4 { background-color: #EEEEFF;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    /*margin: 3ex 0 1.5ex 9%;*/
    padding: 0.3ex 0 0.3ex 1%; }

table.fields {  width: 90%;
                            margin: 1.5ex 0 1.5ex 10%; }

table.fields td.val {   font-weight: bold;
                        text-align: right;
                        width: 30%;
                        vertical-align: baseline;
                        padding: 1ex 1em 1ex 0; }

table.fields td.desc { vertical-align: baseline;
                        padding: 1ex 0 1ex 1em; }

table.fields td.desc p:first-child { margin: 0; }

table.fields td.desc p { margin: 1.5ex 0 0 0; }

table.index { margin: 6ex auto 6ex auto;
                border: 0;
                border-collapse: separate;
                border-spacing: 1em 0.3ex; }

table.index tr { padding: 0; }

table.index td { padding: 0; }

table.index-toc-link { width: 100%;
                        border: 0;
                        border-spacing: 0;
                        margin: 1ex 0 1ex 0; }

table.index-toc-link td.left { padding: 0 0.5em 0 0.5em;
                                font-size: 83%;
                                text-align: left; }
table.index-toc-link td.middle { padding: 0 0.5em 0 0.5em;
                                font-size: 83%;
                                text-align: center; }
table.index-toc-link td.right { padding: 0 0.5em 0 0.5em;
                                font-size: 83%;
                                text-align: right; }
table.synopsis { margin: 6ex auto 6ex auto;
                border: 0;
                border-collapse: separate;
                border-spacing: 2em 0.6ex; }
table.synopsis tr { padding: 0; }
table.synopsis td { padding: 0; }
table.toc td.link { width: 30%;
                    text-align: right;
                    vertical-align: baseline;
                    padding: 1ex 1em 1ex 0; }
table.toc td.desc { vertical-align: baseline;
                    padding: 1ex 0 1ex 1em;
                    text-align: left; }
table.toc td.desc p:first-child { margin: 0;
                                    text-align: left; }
table.toc td.desc p { margin: 1.5ex 0 0 0;
                        text-align: left; }
